.date__watch {  
  display: flex;
  font: var(--font-size-xxl) var(--secondary-font);
  gap: 2px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .date__watch {
    font-size: var(--font-size-xl);
  }
}