.tasks__container {
  background-color: var(--bg-color-transparent);
  border-radius: 10px;  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  gap: 15px;
  justify-content: end;
  min-height: 0;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transition: min-height 0.3s,
              opacity 0.1s;
}