.weather__title {
  font: var(--font-size-l) var(--secondary-font);
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .weather__title {
    font-size: var(--font-size-m);
  }
}